<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%=%>
  <div class="form-group">
  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :start_time %></br>
    <!--<%= form.datetime_local_field :start_time, value: DateTime.current.strftime('%Y-%m-%dT%H:%M') %>-->
    <%= form.datetime_field :start_time, class: "datetimepicker" %>
  
  </div>

  <div class="field">
    <%= form.label :finish_time %></br>
    <%= form.datetime_local_field :finish_time, value: DateTime.current.strftime('%Y-%m-%dT%H:%M') %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "登録", class: "form-control btn btn-primary", disable_with: "送信中..." %>
  </div>
  </div>
<% end %>
